body {
  background-color: gold;
  text-align: center;
}

h1 {
  color: black;
  font-family: cursive;
  font-size: 300;
}

p {
  line-height: 10px;
}

h6 {
  color: #ecc900ec;
}

li {
  font-family: cursive;
  font-size: 50;
}